.modalOverlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
  }
  
  .modalContent {
    background-color: #333; /* bg-gray-800 */
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    border: 1px solid #374151; /* border-gray-300 */
    height: min-content

  }
  
  .modalContentWide {
    width: 75%; /* w-3/4 */
    max-width: 56rem; /* max-w-4xl */
  }