/* AddExerciseModal.module.css */

.modalOverlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modalContent {
    background-color: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
  }
  
  .modalTitle {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #4A5568; /* text-gray-800 */
  }
  
  .actionContainer {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
  }
  
  .marginRight {
    margin-right: 0.5rem;
  }
  .setContainer {
    margin-top: 0.5rem;
    padding: 0.5rem;
    background-color: #4B5563; /* gray-600 */
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 2rem;
  }
  
  .setIndex {
    position: absolute;
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
    background-color: #374151; /* gray-700 */
    border-radius: 9999px;
    width: 1.25rem;
    height: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .setIndexText {
    color: white;
    font-size: 0.75rem;
    font-weight: bold;
  }
  
  .inputGroup {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }
  
  .input {
    width: 3rem;
    background-color: #374151; /* gray-700 */
    color: white;
    border: 1px solid #6B7280; /* gray-500 */
    border-radius: 0.25rem;
    padding: 0.25rem;
    appearance: textfield;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
  }
  
  .input::-webkit-outer-spin-button,
  .input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }
  
  .input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  .label {
    color: white;
    margin-right: 0.5rem;
  }
  
  .unitLabel {
    color: white;
    margin-left: 0.25rem;
    margin-right: 0.5rem;
  }
  
  .deleteButton {
    margin-left: auto;
  }

  /* Add this to your existing molecules.module.css file */
.durationInput {
  width: 5rem; /* Adjust this value as needed */
  text-align: center;
  padding: 0.25rem;
  background-color: #374151; /* gray-700 */
  color: white;
  border: 1px solid #6B7280; /* gray-500 */
  border-radius: 0.25rem;
  appearance: textfield;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}

.durationInput::-webkit-calendar-picker-indicator {
  filter: invert(1); /* This makes the clock icon white */
}

.widerTimeInput {
  width: 100px; /* Adjust this value as needed */
  padding-right: 5px; /* Optional: gives some space for the arrow controls */
}


.programCard {
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.programDate {
  font-size: 0.875rem;
  color: #6b7280;
  margin-top: 0.5rem;
}

.programActions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 1rem;
}

.buttonIcon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.25rem;
}